[submodule "cv.frontend"]
	path = cv.frontend
	url = git@github.com:Uniwersytet-Zielonogorski/cv.frontend.git
[submodule "cv.backend"]
	path = cv.backend
	url = git@github.com:Uniwersytet-Zielonogorski/cv.backend.git
