[submodule "cv.frontend"]
	path = cv.frontend
	url = https://github.com/Uniwersytet-Zielonogorski/cv.frontend.git
[submodule "cv.backend"]
	path = cv.backend
	url = https://github.com/Uniwersytet-Zielonogorski/cv.backend.git
